html {
	height: auto; /* print fix */
}

body {
	font: normal 14px Tahoma, sans-serif;
	color: #000;
}

h4 {
	margin-top: 20px;	
}

table:not(.info) tbody tr:nth-child(even) {
	background-color: #eee;
}

table.info {
	font-size: 11px;
}

#info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

#info_pro {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
	display:none;
}
#info_pro h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.info_cli {
	margin-top: 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
	background-color: #EEE;
	padding: 0 10px 10px 10px;
	font-size:	12px;
}
.info_cli h4{
	margin: 5px 0 5px 0;
	text-decoration: underline;
}

.cx {
	border: 1px solid #ddd;
	background-color: #eee;
	padding: 0 10px 10px 10px;
	margin-top: 10px;
}

.cx h4 {
	margin-top: 10px;
}

.cx p {
	float: left;
	margin-right: 10px;
}

.cx div {
	clear: both;
}

.barra, .barra_produtos_inclusao{
	font-size: 14px;
	padding-top: 5px;
	height: 40px;
	border-bottom: 1px solid #000;
	background: #126059;
	color: white;
	padding-bottom: 10px;
	font-weight: bold;
	text-shadow: 0 1px 1px #3E6790;	
}
.barra #home-link a
{
	margin-top: 	0px;
	margin-left: 	5px;
	float: 			left;
	width: 			46px;
	height: 		46px;
	background: 	url('../img/home_icon.png') no-repeat;
	background-position: 0px top;
}

.barra #home-link a:hover
{
	float: 						left;
	width: 						46px;
	height: 					46px;
	background: 				url('../img/home_icon.png') no-repeat;
	background-position: 		0px bottom;
}

.barra #voltar, .barra_produtos_inclusao #voltar
{
	float: left;
}

.barra #voltar a, .barra_produtos_inclusao #voltar a
{
	float: left;
	margin-left: 5px;
}

.barra #voltar-link a
{
	float: left;
	color: #FFF;
	margin-top: 3px;
	margin-left: 5px;
}
.barra #voltar-link a.notificacoes
{
	margin-top: 			0px;
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px top;
}
.barra #voltar-link a.notificacoes-ativo
{
	float: 					left;
	width: 					46px;
	height: 				46px;
	background: 			url('../img/aviso.png') no-repeat;
	background-position: 	0px bottom;
}
.empresas{
	padding:	0 4px 0 0;
	position:	absolute;
	right:		0;
	margin-right: 20px;
}
.barra .empresas h2 {
	color: 			#FFF !important;
	font:			bold 23px "Lucida Sans", sans-serif !important;		
	border-bottom: 	none !important;
	margin-top: 	0px !important;
	text-transform: capitalize !important;
	text-shadow: 	1px 1px 1px #0000 !important;
}
.status_online{
	width: 		100%;
	height: 	15px;
	z-index: 	1;
	background-color: #126059;
	clear:		left;
	padding: 	2px 2px 2px 2px;
	text-align: right;
	position:  	fixed;
	bottom: 	0px;
	right: 		0px;
	color: 		#FFF;
}
.status_online div#representante
{
	float: left;
	margin-left: 5px;
}
.status_online div#internet
{
	float: right;
	margin-right: 5px;
}

.dashboard li{
	list-style: none;
}
.dashboard li.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:130px;
	float: left;
}
.dashboard li.icone:hover a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	color:#666;
	float: left;
}

.dashboard li.icone a{	
	display:block;
	width: 130px;	
	min-height:90px;
	padding-top: 30px;
	float: left;
}

.dashboard li.icone span {
	display: block;
	margin-top: 5px;
}
.icone {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone:hover {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	border-radius: 3px;
	border: solid 1px #CCC;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
	width: 130px;
	min-height:160px;
	float: left;
	-moz-box-shadow:    0px 0px 4px 1px #DEDEDE;
  	-webkit-box-shadow: 0px 0px 4px 1px #DEDEDE;
  	box-shadow:         0px 0px 4px 1px #DEDEDE;
}
.icone a{	
	display:block;
	width: 130px;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}
.icone:hover a{	
	display:block;
	width: 130px;
	color:#000;	
	min-height:160px;
	padding-top: 10px;
	float: left;
}

.icone span {
	display: block;
	margin-top: 5px;
}




input {
	padding: 2px;
}

small {
	font-size: 11px;
}

@media print {
	body, table, .novo_grid {
		font-size: 8px;
	}
	
	h2 {
		font-size: 12px;
	}
	
	h4 {
		font-size: 10px;
		margin-top: 15px;
	}
	
	table.info {
		font-size: 8px;
		margin-right: 5px;
	}
	
	table.info th, table.info td, .novo_grid thead tr th, .novo_grid tbody tr td {
		padding: 2px;
	}
	
	small {
		font-size: 8px;
	}
}

.obrigatorio{
	border: 1px solid red !important;
}

.aviso{
	color: red;
	font-style: italic;
	font-size: 11px;
}

.titulo{
	height: 15px;
}

.titulo input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(4); /* IE */
	-moz-transform: scale(4); /* FF */
	-webkit-transform: scale(4); /* Safari and Chrome */
	-o-transform: scale(4); /* Opera */
	margin: 0 20px 0 10px;
	display:block;
	float: left;
}

.titulo label{
	display:block;
	float: left;
}

.pagination {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.pagination li {
  display: inline;
}
.pagination a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 1px 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none !important;
  color: #0E847C !important;
  font-size: smaller !important;
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  text-shadow: white 0 1px 0;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f9f9f9, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
  /* IE6â€“IE9 */
}
.pagination a:first-child, .pagination a.first {
  margin-left: 0;
}
.pagination a:last-child, .pagination a.last {
  margin-right: 0;
}
.pagination a:hover, .pagination a:focus {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fefefe, #fafafa);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
  /* IE6â€“IE9 */
}
.pagination a.more {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 0 none !important;
  background: transparent !important;
  margin-left: 0;
  margin-right: 0;
}
.pagination a.active {
  -moz-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  border-color: #505050 !important;
  color: #f2f2f2 !important;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* IE10 */
  background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
  /* IE6â€“IE9 */
}

//----------

.teste{
	border: 5px solid red !important;
}
}
