<a href="agenda_adicionar.html#" class="btn btn-primary btn-large" id="btnCadastrarCompromisso">Cadastrar Compromisso</a>

<!-- Begin/Eventos -->
<div class="accordion" id="eventosLista">

	<% if(events.length > 0){ %>	
		<% _.each(events, function(event){ %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="eventosLista" href="#collapse-<%= event.id %>">
					<span class="pull-left event <%= event.class %>"></span> <%= date('d/m/Y H:i:s', (event.inicio_timestamp/1000)) %> - <%= event.titulo %>
				</a>
			</div>
			<div id="collapse-<%= event.id %>" class="accordion-body collapse">
				<div class="accordion-inner">
					
					<table class="tabela" style="width:100%;">
						
						<tr>
							<td><b>Status</b></td>
							<td><b>Início</b></td>
							<td><b>Fim</b></td>
						</tr>
						
						<tr>
							<td><%= event.status %></td>
							<td><%= date('d/m/Y H:i:s', (event.inicio_timestamp/1000)) %></td>
							<td><%= date('d/m/Y H:i:s', (event.final_timestamp/1000)) %></td>
						</tr>
						
						<tr>
							<td><b>Usuário</b></td>
							<td><b>Para</b></td>
							<td><b>Com</b></td>
						</tr>
						
						
						<tr>
							<td><%= event.id_usuario %></td>
							<td><%= event.id_usuario_cad %></td>
							<td><%= event.nome %></td>
						</tr>
						
						<tr>
							<td colspan="3"><b>Descrição</b></td>
						</tr>
						
						<tr>
							<td colspan="3"><%= event.descricao %></td>
						</tr>
						
					</table>
					
				</div>
			</div>
		</div>
		<% }) %>
	<% }else{ %>
		Nenhum compromisso cadastrado.
	<% } %>
		
</div>
<!-- End/Eventos -->